.grid-container {
	display: flex;
	/*justify-content: center;*/
	 /*grid-column-gap: 50px;*/
}

li{
	cursor: pointer;
	list-style: none;
	margin-bottom: 20px;
	padding: 5px 5px;
	position: relative;
}

p{
	margin:0;padding:0;
}

li img{
	position: absolute;
	margin-top: -2px;
	left: -40px;
}

.active{
	background: #000;
	color: #fff;
}

.grid-item{
	padding: 0 2em;
}


.grid-item:nth-child(1){
	width: 60%;
}

.grid-item:nth-child(2){
	width: 40%;
}

video::-webkit-media-controls-panel {
  /*background-image: linear-gradient(transparent, transparent) !important;*/
}

.file-list{
	overflow-y: scroll;
	height:  calc(100vh - 50px);
}